<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="org.ecobay.user.member.domain.MemberVO" alias="MemberVO"/>
		<typeAlias type="org.ecobay.user.product.domain.ProductVO" alias="ProductVO"/>
		<typeAlias type="org.ecobay.user.product.domain.ProductImageVO" alias="ProductImageVO"/>
	</typeAliases>
</configuration>