<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ecobay.admin.mapper.MemberMapper">
	
	<select id="readAll" resultType="MemberVO">
		select @rownum:=@rownum+1 as rn, m.* from member m, (select @rownum:=0) tmp
	</select>
	
	<select id="count" resultType="int">
		select count(*) from member
 	</select>
 	
</mapper>

