<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ecobay.admin.mapper.NoticeMapper">
	
	<insert id="insertNotice" parameterType="NoticeVO">
		INSERT INTO NOTICE (
			NOTICE_IDX, TITLE, CONTENT, REGDATE, MODDATE, VIEWCNT, USE_YN
		)
		VALUES ( 
			#{notice_idx}, #{title}, #{content}, now(), now(), 0, true
		)
	</insert>
	
	<select id="selectNoticeList" resultType="NoticeVO">
		SELECT * 
		FROM NOTICE
		WHERE USE_YN = true
		ORDER BY REGDATE DESC
	</select>
	
	
	<resultMap type="NoticeVO" id="selectNoticeResultMap">
		<id column="NOTICE_IDX" property="notice_idx" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="REGDATE" property="regDate" />
		<result column="MODDATE" property="modDate" />
		<result column="VIEWCNT" property="viewCNT" />
		<result column="USE_YN" property="use_YN" />
		<collection property="fileVOList" javaType="list" ofType="NoticeFileVO">
			<id column="FILE_CD" property="file_cd" />
			<result column="FILE_IDX" property="file_idx" />
			<result column="NOTICE_IDX" property="notice_idx" />
			<result column="FILENAME" property="filename" />
			<result column="FILENAME_ORG" property="filename_org" />
			<result column="FILESIZE" property="fileSize"/>
			<result column="REGDATE" property="regdate" />
			<result column="fileSizeByte" property="fileSizeByte" />
		</collection>
	</resultMap>
	<select id="selectNoticeOne" parameterType="int" resultMap="selectNoticeResultMap" statementType="PREPARED">
		SELECT 
			t1.NOTICE_IDX as notice_idx,
			t1.TITLE as title,
			t1.CONTENT as content,
			t1.REGDATE as regDate,
			t1.MODDATE as modDate,
			t1.VIEWCNT as viewCNT,
			t1.USE_YN as use_YN,
			
			t2.FILE_CD as file_cd,
			t2.FILE_IDX as file_idx,
			t2.NOTICE_IDX as fNotice_idx,
			t2.FILENAME as fileName,
			t2.FILENAME_ORG as fileName_org,
			t2.FILESIZE as fileSize,
			t2.REGDATE as fRegDate,
			ROUND(t2.FILESIZE/1024,1) as fileSizeByte

		FROM NOTICE t1 LEFT JOIN NOTICEFILE t2
		ON t1.NOTICE_IDX = t2.NOTICE_IDX
		WHERE t1.NOTICE_IDX = #{notice_idx}
		
	</select>
	
	<update id="updateNotice" parameterType="NoticeVO">
		UPDATE NOTICE SET
			TITLE = #{title},
			CONTENT = #{content},
			MODDATE = now()
		WHERE NOTICE_IDX = #{notice_idx}
	</update>
	
	<update id="updateViewCnt" parameterType="NoticeVO">
		UPDATE NOTICE SET
			VIEWCNT = viewcnt+1
		WHERE NOTICE_IDX = #{notice_idx}
	</update>
	
	
	<update id="deleteNotice" parameterType="int">
		UPDATE NOTICE SET
			USE_YN = false,
			DELDATE = now()
		WHERE NOTICE_IDX = #{notice_idx}
	</update>
	
	<select id="maxNoticeIDX" resultType="int">
		SELECT IFNULL(MAX(NOTICE_IDX), 0) +1 as maxNoticeIDX
		  FROM NOTICE
	</select>
	
	<select id="maxNoticeFileCnt" resultType="int">
		SELECT IFNULL(MAX(FILE_CD), 0) +1 as maxNoticeFileCnt
		  FROM NOTICEFILE
	</select>
	
	<insert id="insertNoticeFile" parameterType="NoticeFileVO">
		INSERT INTO NOTICEFILE (
			FILE_CD, FILE_IDX, NOTICE_IDX, FILENAME, FILENAME_ORG, FILESIZE, REGDATE
		)
		VALUES ( 
			#{file_cd}, #{file_idx}, #{notice_idx}, #{filename}, #{filename_org}, #{fileSize}, now()
		)
	</insert>

</mapper>

