<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ecobay.admin.mapper.NoticeMapper">
	
	<insert id="insertNotice" parameterType="NoticeVO">
		INSERT INTO notice (
			notice_idx, title, content, regdate, moddate, viewcnt, use_yn
		)
		VALUES ( 
			#{notice_idx}, #{title}, #{content}, now(), now(), 0, true
		)
	</insert>
	
	<select id="selectNoticeList" resultType="NoticeVO">
		SELECT * 
		FROM notice
		WHERE use_yn = true
		ORDER BY regdate DESC
	</select>
	
	
	<resultMap type="NoticeVO" id="selectNoticeResultMap">
		<id column="notice_idx" property="notice_idx" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="regdate" property="regDate" />
		<result column="moddate" property="modDate" />
		<result column="viewcnt" property="viewCNT" />
		<result column="use_yn" property="use_YN" />
		<collection property="fileVOList" javaType="list" ofType="NoticeFileVO">
			<id column="file_cd" property="file_cd" />
			<result column="file_idx" property="file_idx" />
			<result column="notice_idx" property="notice_idx" />
			<result column="filename" property="filename" />
			<result column="filename_org" property="filename_org" />
			<result column="regdate" property="regdate" />
		</collection>
	</resultMap>
	<select id="selectNoticeOne" parameterType="int" resultMap="selectNoticeResultMap" statementType="PREPARED">
		SELECT 
			t1.notice_idx as notice_idx,
			t1.title as title,
			t1.content as content,
			t1.regdate as regDate,
			t1.moddate as modDate,
			t1.viewcnt as viewCNT,
			t1.use_yn as use_YN,
			
			t2.file_cd as file_cd,
			t2.file_idx as file_idx,
			t2.notice_idx as fNotice_idx,
			t2.filename as fileName,
			t2.filename_org as fileName_org,
			t2.regdate as fRegDate
		FROM notice t1 LEFT JOIN noticefile t2
		ON t1.notice_idx = t2.notice_idx
		WHERE t1.notice_idx = #{notice_idx}
		
	</select>
	
	<update id="updateNotice" parameterType="NoticeVO">
		UPDATE notice SET
			title = #{title},
			content = #{content},
			moddate = now()
		WHERE notice_idx = #{notice_idx}
	</update>
	
	<update id="updateViewCnt" parameterType="NoticeVO">
		UPDATE notice SET
			viewcnt = viewcnt+1
		WHERE notice_idx = #{notice_idx}
	</update>
	
	
	<update id="deleteNotice" parameterType="int">
		UPDATE notice SET
			use_yn = false,
			deldate = now()
		WHERE notice_idx = #{notice_idx}
	</update>
	
	<select id="maxNoticeIDX" resultType="int">
		SELECT IFNULL(MAX(notice_idx), 0) +1 as maxNoticeIDX
		  FROM notice
	</select>
	
	<select id="maxNoticeFileCnt" resultType="int">
		SELECT IFNULL(MAX(file_cd), 0) +1 as maxNoticeFileCnt
		  FROM noticefile
	</select>
	
	<insert id="insertNoticeFile" parameterType="NoticeFileVO">
		INSERT INTO noticefile (
			file_cd, file_idx, notice_idx, filename, filename_org, regdate
		)
		VALUES ( 
			#{file_cd}, #{file_idx}, #{notice_idx}, #{filename}, #{filename_org}, now()
		)
	</insert>

</mapper>

