<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ecobay.admin.mapper.ProductMapper">
	<select id="productList" resultType="ProductVO">
		SELECT pd.*
		  FROM( SELECT @rownum:=@rownum+1 AS rn, p.*
				  FROM ( SELECT pp.*
						   FROM PRODUCT pp
						  WHERE USE_YN = TRUE
						  <include refid="search" />
						) p, (SELECT @rownum:=0) tmp
			   ) pd
		   LIMIT #{startIndex},#{cntPerPage}
	</select>
	
	<select id="productCount" resultType="int">
		SELECT COUNT(*)
		  FROM PRODUCT
		 WHERE USE_YN = TRUE
		<include refid="search" />
 	</select>
 	
	<select id="reqProductList" resultType="ProductVO">
		SELECT pd.*
		  FROM( SELECT @rownum:=@rownum+1 AS rn, p.*
				  FROM ( SELECT pp.*
						   FROM PRODUCT pp
						  WHERE USE_YN = TRUE
						    AND STATE_CD = '1'
						  <include refid="reqsearch" />
						) p, (SELECT @rownum:=0) tmp
			   ) pd
		   LIMIT #{startIndex},#{cntPerPage}
	</select>
	
	<select id="reqProductCount" resultType="int">
		SELECT COUNT(*)
		  FROM PRODUCT
		 WHERE USE_YN = TRUE
		   AND STATE_CD = '1'
		<include refid="reqsearch" />
 	</select>
 	
	<select id="payProductList" resultType="ProductVO">
		SELECT pay.*
		  FROM( SELECT @rownum:=@rownum+1 AS rn, pp.*
				  FROM ( SELECT p.*
						   FROM ( SELECT   py.PRODUCT_CD
										, (SELECT pd.PRODUCT_NM FROM PRODUCT pd WHERE pd.PRODUCT_CD = py.PRODUCT_CD) as PRODUCT_NM
										, py.MONEY_PAY
										, auct.BAY_MEMBER_ID as MEMBER_ID
										, (SELECT mem.MEMBER_NAME FROM MEMBER mem WHERE mem.MEMBER_ID = auct.BAY_MEMBER_ID) as MEMBER_NM
										, (SELECT deli.DELI_DIV_CD FROM DELIVERYINFO deli WHERE deli.PRODUCT_CD = py.PRODUCT_CD) as DELI_DIV_CD
										, py.REGDATE
								   FROM PAYMENT py LEFT JOIN AUCTIONINFO auct
									 ON py.PRODUCT_CD = auct.PRODUCT_CD
								  WHERE auct.PAYMENT_PROC_CD = '2'
								) p
                        WHERE 1=1
					  <include refid="paysearch" />
                     ORDER BY REGDATE DESC
					) pp , (SELECT @rownum:=0) tmp
			   ) pay
		   LIMIT #{startIndex},#{cntPerPage}
	</select>
	
	<select id="payProductCount" resultType="int">
		SELECT COUNT(p.PRODUCT_CD) as CNT
		  FROM ( SELECT   py.PRODUCT_CD
						, (SELECT pd.PRODUCT_NM FROM PRODUCT pd WHERE pd.PRODUCT_CD = py.PRODUCT_CD) as PRODUCT_NM
						, py.MONEY_PAY
						, auct.BAY_MEMBER_ID as MEMBER_ID
						, (SELECT mem.MEMBER_NAME FROM MEMBER mem WHERE mem.MEMBER_ID = auct.BAY_MEMBER_ID) as MEMBER_NM
						, py.REGDATE
				   FROM PAYMENT py LEFT JOIN AUCTIONINFO auct
					 ON py.PRODUCT_CD = auct.PRODUCT_CD
				  WHERE auct.PAYMENT_PROC_CD = '2'
				) p
		WHERE 1=1
		<include refid="paysearch" />
 	</select>

	<select id="selectDeliProd" resultType="DeliveryVO">
		SELECT *		
		  FROM DELIVERY
		 WHERE PRODUCT_CD = #{product_cd}
	</select>

	<select id="selectDetailProd" resultType="productVO">
		SELECT    prod.PRODUCT_CD, prod.PRODUCT_NM
				, prod.MEMBER_ID
				, (SELECT mem.MEMBER_NAME FROM MEMBER mem WHERE mem.MEMBER_ID = prod.MEMBER_ID) as MEMBER_NM
				, prod.CLASS_BIG_CD
				, (SELECT cls.CLASS_NM FROM CLASS cls WHERE cls.CLASS_BIG_CD = prod.CLASS_BIG_CD AND CLASS_DIV = 'B') as CLASS_BIG_NM
				, prod.CLASS_MID_CD
				, (SELECT cls.CLASS_NM FROM CLASS cls WHERE cls.CLASS_BIG_CD = prod.CLASS_BIG_CD AND cls.CLASS_MID_CD = prod.CLASS_MID_CD AND CLASS_DIV = 'M') as CLASS_MID_NM
                , prod.STATE_CD, prod.STATE_NM, prod.VIEWCNT
                , IFNULL(prod.CONTENT, '') as CONTENT
		   FROM PRODUCT prod
		  WHERE prod.USE_YN = TRUE
		    AND prod.PRODUCT_CD = #{product_cd}
	</select>
	
	<select id="selectDetailAuct" resultType="AuctionInfoVO">
		SELECT    auct.PRODUCT_CD
                , IFNULL(auct.AUCTDATE_UNIT, 0) as AUCTDATE_UNIT
                , IFNULL(DATE_FORMAT(auct.ACUTDATE_START, '%Y-%m-%d %H:%s'), '') as ACUTDATE_START_STR
                , IFNULL(DATE_FORMAT(auct.ACUTDATE_END, '%Y-%m-%d %H:%s'), '') as ACUTDATE_END_STR
				, IFNULL(auct.MONEY_FIRST, 0) as MONEY_FIRST
                , IFNULL(auct.MONEY_UNIT, 0) as MONEY_UNIT
                , auct.BAYNOW_YN
                , IFNULL(auct.BAYNOW_MONEY, 0) as BAYNOW_MONEY
		   FROM AUCTIONINFO auct
		  WHERE auct.PRODUCT_CD = #{product_cd}
	</select>
	
	<select id="selectDetailDeli" resultType="DeliveryInfoVO">
		SELECT    deli.PRODUCT_CD
                , IFNULL(deli.DELI_DIV_CD, '') as DELI_DIV_CD
                , IFNULL(deli.DELI_DIV_NM, '') as DELI_DIV_NM
		   FROM DELIVERYINFO deli
		  WHERE deli.PRODUCT_CD = #{product_cd}
	</select>
	
	<select id="selectImageList" resultType="ProductImageVO">
		SELECT *
		  FROM PRODUCTIMG
		 WHERE PRODUCT_CD = #{product_cd}
	</select>
	
	<update id="updateProductState">
		UPDATE PRODUCT
		   SET  STATE_CD = #{state_cd}
		      , STATE_NM = #{state_nm}
		 WHERE PRODUCT_CD = #{product_cd}
	</update>
 	
 	<sql id="reqsearch">
		<if test="keyWord != null and keyWord != ''">
			AND PRODUCT_NM like CONCAT('%',#{keyWord},'%')
		</if>
	</sql>
	
 	<sql id="paysearch">
		<if test="keyWord != null and keyWord != ''">
		  	<if test="searchType != null and searchType != ''">
				<if test="searchType == 'all'">
			  		AND (
				  			   MEMBER_ID   like CONCAT('%',#{keyWord},'%')
				  			OR MEMBER_NAME like CONCAT('%',#{keyWord},'%')
				  			OR PRODUCT_NM  like CONCAT('%',#{keyWord},'%')
			  			)
				</if>
	  			<if test="searchType != 'all'">
	  				AND ${searchType} like CONCAT('%',#{keyWord},'%')
	  			</if>
			</if>
		</if>
	</sql>
 	
 	<sql id="search">
		<if test="keyWord != null and keyWord != ''">
			AND PRODUCT_NM like CONCAT('%',#{keyWord},'%')
		</if>
		<if test="searchType != null and searchType != ''">
			AND STATE_CD = #{searchType}
		</if>
	</sql>
</mapper>
