<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ecobay.admin.mapper.QnaMapper">
	
	<select id="selectQnaList" resultType="QnaVO">
		SELECT * 
		FROM QNA
		ORDER BY REGDATE DESC
	</select>
	
	<select id="selectQnaOne" parameterType="int" resultType="QnaVO">
		SELECT * 
		FROM QNA 
		WHERE QNA_IDX = #{qna_idx}
	</select>
	
</mapper>

