@charset "UTF-8";

@font-face { 
	font-family: 'Binggrae2'; 
	src: url('fonts/Binggrae2.ttf');
	font-weight: normal;
	font-style: normal;
} 

/* 시간표시 */
.clock {
    font-size: 15px;
	margin-left: 5px;
}

/* navbar */
.navbar-new-top{
    background: #fff;
}
.navbar-brand{
    font-weight: 600;
    font-family: 'Binggrae2';
}
.navbar-brand img{
    width: 20%;
}
.navbar-new-bottom{
    background-color: #f7f7f7;
    box-shadow: 0 5px 6px -2px rgba(0,0,0,.3);
    border-top: 1px solid #e0e0e0;
    margin-top: 4%;
    height: 40px;
}
.navbar-new-bottom ul li{
    margin-left: 2%;
    margin-right: 2%;
}
.navbar-nav .nav-item a {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    transition: 1s ease;
}
.navbar-nav .nav-item a:hover{
    color: #0062cc;
}
.dropdown-menu.show{
    background: #f8f9fa;
    border-radius: 0;
}
.header-btn{
    width: 161%;
    border: none;
    border-radius: 1rem;
    padding: 8%;
    background: #0062cc;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}


/* searchBar */
#searchBar {
	margin-right: 5px;
}
#searchInput {
	border-color: #007bff;
}


/* 로그인 */
#login-dp{
    min-width: 250px;
    padding: 14px 18px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}


#login-dp .form-group {
    margin-bottom: 10px;
} 

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}