<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ecobay.user.mapper.FaqMapper">
	
	<select id="selectFaqList" resultType="FaqVO">
		SELECT * 
		FROM FAQ
		ORDER BY REGDATE DESC
	</select>
	
	<select id="selectFaqTopList" resultType="FaqVO">
		SELECT * 
		FROM FAQ 
		ORDER BY VIEWCNT DESC 
		LIMIT 10
	</select>
		
</mapper>

