<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ecobay.user.mapper.MemberMapper">

	<insert id="create" parameterType="MemberVO">
		INSERT INTO MEMBER 
		(MEMBER_ID,MEMBER_NAME,PWD,BIRTH,ZIPCODE,ADDR1,ADDR2,GENDER,PHONE,JOIN_YN,REGDATE)
		values(#{member_id},#{member_name},#{pwd},#{birth},#{zipcode},#{addr1},#{addr2},#{gender},#{phone},#{join_yn},now())
	</insert>
	
	<select id="read" parameterType="String" resultType="MemberVO">
		SELECT * FROM MEMBER WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="readAll" resultType="MemberVO">
		SELECT @ROWNUM:=@ROWNUM+1 AS RN, M.* FROM MEMBER M, (SELECT @ROWNUM:=0) TMP
	</select>
	
	<select id="count" resultType="int">
		SELECT COUNT(*) FROM MEMBER
 	</select>
 	
 	<select id="idcount" resultType="int">
 		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_ID = #{member_id}
 	</select>
 	
 	<select id="pwdcheck" resultType="String">
 		SELECT PWD FROM MEMBER WHERE MEMBER_ID = #{member_id}
 	</select>
	
	<update id="verify" parameterType="MemberVO">
		UPDATE MEMBER SET
		JOIN_YN = TRUE
		WHERE MEMBER_ID = #{member_id}
		AND BIRTH = #{birth}
	</update>
	
	<update id="update" parameterType="MemberVO">
		UPDATE MEMBER SET
		PWD = #{pwd},
		ZIPCODE = #{zipcode},
		ADDR1 = #{addr1},
		ADDR2 = #{addr2},
		PHONE = #{phone},
		MODDATE = now()
		WHERE MEMBER_ID = #{member_id}			
	</update>
	
	<update id="delete" parameterType="String"><!-- 회원탈퇴 -->
		UPDATE MEMBER SET
		JOIN_YN = FALSE,
		USE_YN = FALSE
		WHERE MEMBER_ID = #{member_id}	
	</update>
	
	<select id="idfind" parameterType="MemberVO" resultType="String">
		SELECT MEMBER_ID FROM MEMBER WHERE 
		MEMBER_NAME = #{member_name} AND
		BIRTH = #{birth} AND
		PHONE = #{phone}
	</select>
	
	<select id="pwdfind" parameterType="MemberVO" resultType="String">
		SELECT PWD FROM MEMBER WHERE 
		MEMBER_NAME = #{member_name} AND
		BIRTH = #{birth} AND
		MEMBER_ID = #{member_id}
	</select>
	
	<update id="newpwd" parameterType="MemberVO">
		UPDATE MEMBER SET
		PWD = #{pwd},
		MODDATE = now()
		WHERE MEMBER_ID =#{member_id}	
	</update>
	
	<select id="selectAuct" resultType="AuctionInfoVO">
		SELECT  PRODUCT_CD 
			  , IFNULL(BAY_MEMBER_ID, '') as BAY_MEMBER_ID
			  , IFNULL(MONEY_LAST, 0) as MONEY_LAST
			  , IFNULL(BAYNOW_MONEY, 0) as BAYNOW_MONEY
		FROM auctioninfo
		WHERE PRODUCT_CD = #{product_cd}
	</select>
	
	<select id="selectProd" resultType="String">
		SELECT PRODUCT_NM 
		FROM PRODUCT
		WHERE PRODUCT_CD = #{product_cd}
	</select>
	
	<select id="selectImg" resultType="String">
		SELECT FILENAME_THUMB 
		FROM PRODUCTIMG
		WHERE PRODUCT_CD = #{product_cd}
	</select>
	
	<insert id="payment" parameterType="PaymentVO">
		INSERT INTO PAYMENT
		VALUES(#{product_cd}, #{money_pay}, now())
	</insert>
	
	<insert id="delivery" parameterType="DeliveryVO">
		INSERT INTO DELIVERY
		VALUES(#{product_cd}, #{deli_nm}, #{deli_zipcode}, #{deli_addr1}, #{deli_addr2}, now())
	</insert>
	
	<update id="auctionInfo">
		UPDATE AUCTIONINFO 
		   SET MONEY_LAST = #{money_last}
		     , BAY_MEMBER_ID = #{bay_member_id}
		     , PAYMENT_PROC_CD = '2'
		WHERE PRODUCT_CD = #{product_cd} 
	</update>
	
	<select id="wishTotal" resultType="int">
		SELECT COUNT(*) FROM PRODUCTWISH WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="wishList" resultType="MemberProductVO">
	select * from(
	SELECT @rownum:=@rownum+1 as rn,
			WISH.PRODUCT_CD, WISH.PRODUCT_NM, WISH.STATE_CD, WISH.STATE_NM, WISH.REGDATE
		, IFNULL((SELECT DATE_FORMAT(AUCT.ACUTDATE_START, '%Y-%m-%d %H:%s') FROM AUCTIONINFO AUCT WHERE AUCT.PRODUCT_CD = WISH.PRODUCT_CD), '') AS ACUTDATE_START_STR
		, IFNULL((SELECT DATE_FORMAT(AUCT.ACUTDATE_END, '%Y-%m-%d %H:%s') FROM AUCTIONINFO AUCT WHERE AUCT.PRODUCT_CD = WISH.PRODUCT_CD), '') AS ACUTDATE_END_STR
		, IFNULL((SELECT PRODIMG.FILENAME_THUMB FROM PRODUCTIMG PRODIMG WHERE PRODIMG.PRODUCT_CD = WISH.PRODUCT_CD ORDER BY PRODIMG.IMG_IDX ASC LIMIT 1), '') AS FILENAME_THUMB
 		FROM
 		(
			SELECT PRODWISH.PRODUCT_CD, PROD.PRODUCT_NM, PROD.STATE_CD, PROD.STATE_NM, PRODWISH.REGDATE
			FROM PRODUCTWISH PRODWISH LEFT JOIN PRODUCT PROD 
			ON PRODWISH.PRODUCT_CD = PROD.PRODUCT_CD
			WHERE PRODWISH.MEMBER_ID = #{member_id}
			AND prod.USE_YN = TRUE
			AND PROD.STATE_CD IN ('3', '5', '6', '7')
		) WISH, (SELECT @rownum:=0)tmp
		ORDER BY WISH.REGDATE DESC
		)list where list.rn between #{start} and #{end}		
	</select>
</mapper>

