<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ecobay.user.mapper.MemberMapper">

	<insert id="create" parameterType="MemberVO">
		insert into member 
		(member_id,member_name,pwd,birth,zipcode,addr1,addr2,gender,phone,join_yn,regdate)
		values(#{member_id},#{member_name},#{pwd},#{birth},#{zipcode},#{addr1},#{addr2},#{gender},#{phone},#{join_YN},now())
	</insert>
	
	<select id="read" parameterType="String" resultType="MemberVO">
		select * from member where member_id = #{member_id}
	</select>
	
	<select id="readAll" resultType="MemberVO">
		select @rownum:=@rownum+1 as rn, m.* from member m, (select @rownum:=0) tmp
	</select>
	
	<select id="count" resultType="int">
		select count(*) from member
 	</select>
 	
 	<select id="idcount" resultType="int">
 		select count(*) from member where member_id = #{member_id}
 	</select>
 	
 	<select id="pwdcheck" resultType="String">
 		select pwd from member where member_id = #{member_id}
 	</select>
	
	<update id="verify" parameterType="MemberVO">
		update member set
		join_YN = true
		where member_id = #{member_id}
		and birth = #{birth}
	</update>
	
	<update id="update" parameterType="MemberVO">
		update member set
		pwd = #{pwd},
		zipcode = #{zipcode},
		addr1 = #{addr1},
		addr2 = #{addr2},
		phone = #{phone},
		moddate = now()
		where member_id = #{member_id}			
	</update>
	
	<update id="delete" parameterType="String"><!-- 회원탈퇴 -->
		update member set
		join_yn = false,
		use_yn = false
		where member_id = #{member_id}	
	</update>
	
	<select id="idfind" parameterType="MemberVO" resultType="String">
		select member_id from member where 
		member_name = #{member_name} and
		birth = #{birth} and
		phone = #{phone}
	</select>
	
	<select id="pwdfind" parameterType="MemberVO" resultType="String">
		select pwd from member where 
		member_name = #{member_name} and
		birth = #{birth} and
		member_id = #{member_id}
	</select>
	
	<update id="newpwd" parameterType="MemberVO">
		update member set
		pwd = #{pwd},
		moddate = now()
		where member_id =#{member_id}	
	</update>
	
	<select id="selectAuct" resultType="AuctionInfoVO">
		SELECT  PRODUCT_CD 
			  , IFNULL(BAY_MEMBER_ID, '') as BAY_MEMBER_ID
			  , IFNULL(MONEY_LAST, 0) as MONEY_LAST
			  , IFNULL(BAYNOW_MONEY, 0) as BAYNOW_MONEY
		FROM auctioninfo
		WHERE PRODUCT_CD = #{product_cd}
	</select>
	
	<select id="selectProd" resultType="String">
		select product_nm 
		from product
		where product_cd = #{product_cd}
	</select>
	
	<select id="selectImg" resultType="String">
		select filename_thumb 
		from productimg
		where product_cd = #{product_cd}
	</select>
	
	<insert id="payment" parameterType="PaymentVO">
		insert into payment
		values(#{product_cd}, #{money_pay}, now())
	</insert>
	
	<insert id="delivery" parameterType="DeliveryVO">
		insert into delivery
		values(#{product_cd}, #{deli_nm}, #{deli_zipcode}, #{deli_addr1}, #{deli_addr2}, now())
	</insert>
	
	<update id="auctionInfo">
		update auctioninfo 
		   set MONEY_LAST = #{money_last}
		     , BAY_MEMBER_ID = #{bay_member_id}
		     , payment_proc_cd = '2'
		where product_cd = #{product_cd} 
	</update>
</mapper>

