<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ecobay.user.mapper.ProductMapper">

	<select id="select" resultType="productVO">
		SELECT * 
		  FROM product
		 WHERE USE_YN = TRUE
		   AND product_cd = #{product_cd}
	</select>
	
	<insert id="insert" parameterType="ProductVO">
		INSERT INTO product 
		     VALUES (#{product_cd}, #{product_nm}, 'aaa@bbb.ccc', #{class_big_cd}, #{class_mid_cd}, #{content}, '1', '요청', now(), now(), null, TRUE, 0)
	</insert>
	
	<insert id="imageinsert" parameterType="ProductVO">
		INSERT INTO productimg 
		     VALUES (#{IMG_CD}, #{IMG_IDX}, #{PRODUCT_CD}, #{FILENAME}, #{FILENAME_ORG}, #{FILENAME_THUMB}, now())	
	</insert>
	
	<update id="delete">
		UPDATE product
		   SET USE_YN = FALSE
		 WHERE product_cd = #{product_cd}
	</update>
	
	<select id="selectList" resultType="org.ecobay.user.product.domain.ProductVO">
		SELECT * 
		  FROM product
		 WHERE USE_YN = TRUE
		   AND STATE_CD IN ('3', '5', '6')
	</select>

	<select id="bigclassList" resultType="org.ecobay.user.product.domain.ProductVO">
		SELECT CLASS_BIG_CD, CLASS_NM as CLASS_BIG_NM
		  FROM class
		 WHERE USE_YN = TRUE
		   AND CLASS_DIV = 'B'
	  ORDER BY CLASS_BIG_CD ASC
	</select>

	<select id="midclassList" resultType="org.ecobay.user.product.domain.ProductVO">
		SELECT CLASS_MID_CD, CLASS_NM as CLASS_MID_NM
		  FROM class
		 WHERE USE_YN = TRUE
		   AND CLASS_DIV = 'M'
		   AND CLASS_BIG_CD = #{class_big_cd}
	  ORDER BY CLASS_MID_CD ASC
	</select>

	<select id="maxCnt" parameterType="String" resultType="int">
		SELECT IFNULL(MAX(CAST(SUBSTRING(product_cd, 11, 4) as unsigned)), 0) +1 as maxCnt
		  FROM product
		 WHERE SUBSTRING(product_cd, 1, 10) = #{searchVal}
	</select>
	
	<select id="maxImgCnt" resultType="int">
		SELECT IFNULL(MAX(IMG_CD), 0) +1 as maxImgCnt
		  FROM productimg
	</select>
</mapper>
