<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ecobay.user.mapper.ProductMapper">

	<select id="select" resultType="productVO">
		SELECT  *
		   FROM product
		  WHERE USE_YN = TRUE
		    AND product_cd = #{product_cd}
	</select>

	<select id="selectDetail" resultType="productVO">
		SELECT    prod.PRODUCT_CD, prod.PRODUCT_NM, prod.MEMBER_ID, prod.STATE_CD, prod.STATE_NM, prod.VIEWCNT
				, (SELECT COUNT(PRODUCT_CD) FROM bidinfo bid WHERE bid.PRODUCT_CD = prod.PRODUCT_CD) as BIB_CNT
				, IFNULL((SELECT MAX(MONEY_BID) FROM bidinfo bid WHERE bid.PRODUCT_CD = prod.PRODUCT_CD), 0) as BIB_MAX_MONEY
                , IFNULL(auct.AUCTDATE_UNIT, 0) as AUCTDATE_UNIT
                , IFNULL(DATE_FORMAT(auct.ACUTDATE_START, '%Y-%m-%d %H:%s'), '') as ACUTDATE_START_STR
                , IFNULL(DATE_FORMAT(auct.ACUTDATE_END, '%Y-%m-%d %H:%s'), '') as ACUTDATE_END_STR
				, IFNULL(auct.MONEY_FIRST, 0) as MONEY_FIRST
                , IFNULL(auct.MONEY_UNIT, 0) as MONEY_UNIT
                , auct.BAYNOW_YN
                , IFNULL(auct.BAYNOW_MONEY, 0) as BAYNOW_MONEY
                , IFNULL((SELECT DELI_DIV_CD FROM deliveryinfo deli WHERE deli.PRODUCT_CD = prod.PRODUCT_CD), '') as DELI_DIV_CD
                , IFNULL((SELECT DELI_DIV_NM FROM deliveryinfo deli WHERE deli.PRODUCT_CD = prod.PRODUCT_CD), '') as DELI_DIV_NM
		   FROM product prod LEFT JOIN  auctioninfo auct
             ON prod.PRODUCT_CD = auct.PRODUCT_CD
		  WHERE prod.USE_YN = TRUE
		    AND prod.product_cd = #{product_cd}
	</select>
	
	<insert id="insert" parameterType="ProductVO">
		INSERT INTO product 
		     VALUES (#{product_cd}, #{product_nm}, #{member_id}, #{class_big_cd}, #{class_mid_cd}, #{content}, '1', '요청', now(), now(), null, TRUE, 0)
	</insert>
	
	<insert id="imageInsert" parameterType="ProductImageVO">
		INSERT INTO productimg 
		    VALUES (#{img_cd}, #{img_idx}, #{product_cd}, #{filename}, #{filename_org}, #{filename_thumb}, now())
	</insert>
	
	<insert id="auctInsert" parameterType="AuctionInfoVO">
		INSERT INTO auctioninfo 
		    VALUES (#{product_cd}, #{money_first}, 0, #{money_unit}, #{auctdate_unit}, #{acutdate_start}, #{acutdate_end}, #{baynow_yn}, #{baynow_money}, now(), #{bay_member_id})
	</insert>

	<insert id="deliInsert" parameterType="DeliveryInfoVO">
		INSERT INTO deliveryinfo
		    VALUES (#{product_cd}, #{deli_div_cd}, #{deli_div_nm}, now())
	</insert>
	
	<update id="delete">
		UPDATE product
		   SET USE_YN = FALSE
		 WHERE product_cd = #{product_cd}
	</update>
	
	<select id="selectList" resultType="org.ecobay.user.product.domain.ProductVO">
		SELECT * FROM
		(
			 SELECT @rownum:=@rownum+1 as rn
			 		, prod.PRODUCT_CD, prod.PRODUCT_NM, prod.MEMBER_ID, prod.STATE_CD, prod.STATE_NM, prod.VIEWCNT
					, (SELECT COUNT(PRODUCT_CD) FROM bidinfo bid WHERE bid.PRODUCT_CD = prod.PRODUCT_CD) as BIB_CNT
					, IFNULL((SELECT MAX(MONEY_BID) FROM bidinfo bid WHERE bid.PRODUCT_CD = prod.PRODUCT_CD), 0) as BIB_MAX_MONEY
			        , IFNULL((SELECT prodimg.FILENAME_THUMB FROM productimg prodimg WHERE prodimg.PRODUCT_CD = prod.PRODUCT_CD ORDER BY prodimg.IMG_IDX ASC limit 1), '') as FILENAME_THUMB
			        , CASE prod.STATE_CD
						WHEN '5' THEN IFNULL((SELECT DATE_FORMAT(auct.ACUTDATE_END, '%Y-%m-%d %H:%s') FROM auctioninfo auct WHERE auct.PRODUCT_CD = prod.PRODUCT_CD), '')
						WHEN '6' THEN IFNULL((SELECT DATE_FORMAT(auct.ACUTDATE_END, '%Y-%m-%d %H:%s') FROM auctioninfo auct WHERE auct.PRODUCT_CD = prod.PRODUCT_CD), '')
						ELSE '' END AS ACUTDATE_END_STR
					, IFNULL((SELECT auct.MONEY_FIRST FROM auctioninfo auct WHERE auct.PRODUCT_CD = prod.PRODUCT_CD), 0) as MONEY_FIRST
			   FROM product prod , (select @rownum:=0) tmp
			  WHERE prod.USE_YN = TRUE
			    AND prod.STATE_CD IN (1, 3, 5, 6)
			    <if test="class_big_cd != null and class_big_cd != ''">
			    	AND prod.CLASS_BIG_CD = #{class_big_cd}
			    	<if test="class_mid_cd != null and class_mid_cd != 'XX'">
				    AND prod.CLASS_MID_CD = #{class_mid_cd}
				    </if>
			    </if>
				<if test="searchVal != null and searchVal != ''">
				AND prod.PRODUCT_NM like '%' || #{searchVal} || '%'
				</if>
		) prodlist
		where prodlist.rn between #{start_num} and #{end_num}
	</select>
	
	<select id="selectListBest" resultType="org.ecobay.user.product.domain.ProductVO">
		SELECT *
		 FROM (
				SELECT   prod.PRODUCT_CD, prod.PRODUCT_NM, prod.MEMBER_ID, prod.STATE_CD, prod.STATE_NM, prod.VIEWCNT
						, (SELECT COUNT(PRODUCT_CD) FROM bidinfo bid WHERE bid.PRODUCT_CD = prod.PRODUCT_CD) as BIB_CNT
						, IFNULL((SELECT MAX(MONEY_BID) FROM bidinfo bid WHERE bid.PRODUCT_CD = prod.PRODUCT_CD), 0) as BIB_MAX_MONEY
				        , IFNULL((SELECT prodimg.FILENAME_THUMB FROM productimg prodimg WHERE prodimg.PRODUCT_CD = prod.PRODUCT_CD ORDER BY prodimg.IMG_IDX ASC limit 1), '') as FILENAME_THUMB
				        , CASE prod.STATE_CD
							WHEN '5' THEN IFNULL((SELECT DATE_FORMAT(ACUTDATE_END, '%Y-%m-%d %H:%s') FROM auctioninfo auct WHERE auct.PRODUCT_CD = prod.PRODUCT_CD), '')
							WHEN '6' THEN IFNULL((SELECT DATE_FORMAT(ACUTDATE_END, '%Y-%m-%d %H:%s') FROM auctioninfo auct WHERE auct.PRODUCT_CD = prod.PRODUCT_CD), '')
							ELSE '' END AS ACUTDATE_END_STR
						, IFNULL((SELECT auct.MONEY_FIRST FROM auctioninfo auct WHERE auct.PRODUCT_CD = prod.PRODUCT_CD), 0) as MONEY_FIRST
				   FROM product prod
				  WHERE prod.USE_YN = TRUE
				    AND prod.STATE_CD = '3'
			 ) bestprod
		 ORDER BY bestprod.BIB_CNT DESC, bestprod.VIEWCNT DESC
		 	limit 6
	</select>
	
	<select id="selectImageList" resultType="org.ecobay.user.product.domain.ProductVO">
		SELECT *
		  FROM productimg
		 WHERE product_cd = #{product_cd}
	</select>
	
	<select id="selectBibList" resultType="org.ecobay.user.product.domain.BibInfoVO">
		SELECT *
		  FROM bidinfo
		 WHERE product_cd = #{product_cd}
	</select>

	<select id="bigclassList" resultType="org.ecobay.user.product.domain.ProductVO">
		SELECT CLASS_BIG_CD, CLASS_NM as CLASS_BIG_NM
		  FROM class
		 WHERE USE_YN = TRUE
		   AND CLASS_DIV = 'B'
	  ORDER BY CLASS_BIG_CD ASC
	</select>

	<select id="midclassList" resultType="org.ecobay.user.product.domain.ProductVO">
		SELECT CLASS_MID_CD, CLASS_NM as CLASS_MID_NM
		  FROM class
		 WHERE USE_YN = TRUE
		   AND CLASS_DIV = 'M'
		   AND CLASS_BIG_CD = #{class_big_cd}
	  ORDER BY CLASS_MID_CD ASC
	</select>

	<select id="maxCnt" parameterType="String" resultType="int">
		SELECT IFNULL(MAX(CAST(SUBSTRING(product_cd, 11, 4) as unsigned)), 0) +1 as maxCnt
		  FROM product
		 WHERE SUBSTRING(product_cd, 1, 10) = #{searchVal}
	</select>
	
	<select id="maxImgCnt" resultType="int">
		SELECT IFNULL(MAX(IMG_CD), 0) +1 as maxImgCnt
		  FROM productimg
	</select>
</mapper>
